@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Header Styling */
header {
    background-color: black;
}
header .top-header {
    padding: 12px 0px;
    color: #FFF;
    font-size: smaller;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
header .top-header p:not(:last-child)::after {
    content: "|";
    margin: 0 10px;
}
header hr {
    border: 1px solid rgba(128, 128, 128, 0.232);
}
header .mid-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}
header .mid-header img {
    width: 5%;
}
header .mid-header .menu-button {
    width: 30px;
    height: 30px;
    background-color: currentColor;
    border: none;
    cursor: pointer;
}
header .mid-header .menu-button span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
}
header .mid-header .search-container {
    position: relative;
    display: inline-block;
}
header .mid-header .search-container input {
    width: 85%;
    padding: 5px 40px 5px 5px;
    color: #FFF;
    background-color: black;
    font-size: 14px;
    border: 1px solid #888;
    border-radius: 4px;
    outline: none;
}
header .mid-header .search-container .icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    pointer-events: none;
}
header .mid-header .icons i {
    color: #FFF;
    margin-left: 12px;
}
header .bottom-menu nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
header .bottom-menu nav ul a {
    position: absolute;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: small;
    font-weight: 300;
    cursor: pointer;
}
header .bottom-menu nav ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}
header .bottom-menu nav ul a:hover::after {
    width: 100%;
}
.sidebar {
    display: block;
    top: 0px;
    left: 0;
    translate: 0px 0px;
    min-height: 100vh;
    min-width: 200px;
    width: 200px;
    position: fixed;
    background-color: #333;
    translate: -100% 0px;
    transition: 0.5s ease;
}
.sidebar nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
    list-style: none;
}
.sidebar nav ul li {
    margin: 20px 0px;
}
.sidebar nav ul li a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}
.sidebar.open {
    translate: 0px 0px;
}
/* Mobile */
@media (max-width: 768px) {
    header .top-header {
        display: block;
    }
    header .top-header p:not(:last-child)::after {
        content: "";
    }

    header .mid-header img {
        width: 12%;
    }
    header .mid-header .search-container {
        display: none;
    }

    header .bottom-menu {
        display: none;
    }
}
/* Desktop */
@media (min-width: 769px) {
    header .mid-header .menu-button {
        display: none;
    }
}


/* Banner Section */
main #main_banner {
    background-image: url('assets/main_banner_desktop.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
}
main #main_banner .info {
    width: 30%;
    padding: 20% 0px 0px 5%;
    text-align: center;
}
main #main_banner .info h2, main #main_banner .info p {
    color: #FFF;
    text-transform: uppercase;
    padding: 5px;
}
main #main_banner .info button {
    padding: 15px 18px;
    margin-top: 10px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
}
/* Mobile */
@media (max-width: 768px) {
    main #main_banner {
        background-image: url('assets/main_banner_mobile.png');
        background-size: cover;
        height: 600px;
        width: 100%;
    }
    main #main_banner .info {
        width: 70%;
        padding: 40% 0px 0px 2%;
    }
}

/* Category Section */
#category {
    padding: 20px 0px 20px 20px;
}
#category p {
    padding-bottom: 15px;
}
#category .slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#category .slider-container .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
#category .slider-container .slider .slide {
    min-width: 40%; /* Mostra 3 imagens ao mesmo tempo */
    display: flex;
    flex-direction: column;
}
#category .slider-container .slider .slide img {
    width: 60%;
}
#category .slider-container .slider .slide a {
    text-decoration: none;
    color: #000;
    padding: 10px 0px;
    text-decoration: solid underline #000;
}
#category .slider-container .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
#category .slider-container .prev {
    left: 10px;
}
#category .slider-container .next {
    right: 10px;
}
@media (max-width: 768px) {
    #category .slider-container .slider .slide {
        min-width: 100%;
    }
    #category .slider-container .slider .slide {
        min-width: 90%;
    }
}

/* Lacoste Snickers Section */
main #lacoste {
    background-color: #F6F6F6;
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main #lacoste img {
    width: 40%;
}
main #lacoste .info {
    text-align: center;
}
main #lacoste .info .title {
    font-size: 40px;
    padding: 10px 0px;
}
main #lacoste .info .subtitle {
    width: 70%;
    margin: 0 auto;
}
main #lacoste .info button {
    margin: 10px 0px;
    padding: 10px 12px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
@media (max-width: 768px) {
    main #lacoste {
        flex-direction: column-reverse;
        background-color: #FFF;
    }
    main #lacoste img {
        width: 100%;
    }
    main #lacoste .info img {
        width: 50%;
    }
    main #lacoste .info {
        padding: 10px 0px;
    }
}

/* Recommendation Section */
#recommendation {
    padding: 20px 0px 20px 20px;
}
#recommendation p {
    padding-bottom: 15px;
}
#recommendation .container {
    display: flex;
}
#recommendation .container .card {
    margin-right: 10px;
}
#recommendation .container .card img {
    width: 80%;
}
#recommendation .container .card .title {
    font-size: small;
}
#recommendation .container .card .price {
    font-size: medium;
}
#recommendation .container .card .full-price {
    text-decoration: solid line-through green;
    font-size: small;
}
#recommendation .container .card .parcels {
    font-size: 9px;
}
#recommendation .container .card p:last-child {
    font-size: smaller;
}

/* Sold Section */
#sold {
    padding: 20px 0px 20px 20px;
    background-color: #F1EEEE;
    margin: 20px 0px;
}
#sold p {
    padding-bottom: 15px;
}
#sold .container {
    display: flex;
}
#sold .container .card {
    margin-right: 10px;
}
#sold .container .card img {
    width: 80%;
}
#sold .container .card .title {
    font-size: small;
}
#sold .container .card .price {
    font-size: medium;
}
#sold .container .card .full-price {
    text-decoration: solid line-through green;
    font-size: small;
}
#sold .container .card .parcels {
    font-size: 9px;
}
#sold .container .card p:last-child {
    font-size: smaller;
}

/* Glasses Section */
#glasses {
    padding: 20px 0px 20px 20px;
    margin: 20px 0px;
}
#glasses p {
    padding-bottom: 15px;
}
#glasses .container {
    display: flex;
}
#glasses .container .card {
    margin-right: 10px;
}
#glasses .container .card img {
    width: 80%;
}
#glasses .container .card .title {
    font-size: small;
}
#glasses .container .card .price {
    font-size: medium;
}
#glasses .container .card .full-price {
    text-decoration: solid line-through green;
    font-size: small;
}
#glasses .container .card .parcels {
    font-size: 9px;
}
#glasses .container .card p:last-child {
    font-size: smaller;
}

/* Perfumes Section */
#perfumes {
    padding: 20px 0px 20px 20px;
    margin: 20px 0px;
}
#perfumes p {
    padding-bottom: 15px;
}
#perfumes .container {
    display: flex;
}
#perfumes .container .card {
    margin-right: 10px;
}
#perfumes .container .card img {
    width: 80%;
}
#perfumes .container .card .title {
    font-size: small;
}
#perfumes .container .card .price {
    font-size: medium;
}
#perfumes .container .card .full-price {
    text-decoration: solid line-through green;
    font-size: small;
}
#perfumes .container .card .parcels {
    font-size: 9px;
}
#perfumes .container .card p:last-child {
    font-size: smaller;
}

/* Accessories Section */
#accessories {
    padding: 20px 0px 20px 20px;
    margin: 20px 0px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #FFF;
}
#accessories p {
    font-size: xx-large;
    width: 20%;
}
#accessories .container {
    display: flex;
}
#accessories .container .card {
    margin-right: 10px;
    width: 100%;
}
#accessories .container .card img {
    width: 60%;
}
#accessories .container .card .title {
    font-size: small;
    width: 100%;
}
#accessories .container .card .price {
    font-size: medium;
}
#accessories .container .card .full-price {
    text-decoration: solid line-through green;
    font-size: small;
}
#accessories .container .card .parcels {
    font-size: 9px;
}
#accessories .container .card p:last-child {
    font-size: smaller;
}
@media (max-width: 768px) {
    #accessories {
        flex-direction: column;
        padding: 20px 0px;
        text-align: center;
    }
    #accessories p {
        width: 100%;
        font-size: medium;
        padding: 15px 0px;
    }
    #accessories .container {
        flex-direction: column;
    }
}

/* Avaliations Section */
#avaliations {
    padding: 20px 0px 20px 20px;
}
#avaliations .container {
    display: flex;
    padding: 50px 0px;
}
#avaliations .container .card p {
    padding: 10px 0px 5px 0px;
    font-size: small;
    width: 80%;
}
@media (max-width: 768px) {
    #avaliations .container {
        flex-direction: column;
        margin: auto;
        width: 80%;
    }
}

/* Snickers Store */
main #sneacker-store .container {
    position: relative;
    width: 100%;
    height: 450px;
    margin: auto;
    background-image: url('assets/snickers_store.png');
    background-size: cover;
    background-position: center;
}
main #sneacker-store .container .info {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 1vw, 2vw;
    text-align: center;
}
main #sneacker-store img {
    display: none;
    width: 100%;
    height: 100%;
}
main #sneacker-store .container .info .title {
    font-size: 18px;
    font-weight: 500;
    padding: 2px 8px;
}
main #sneacker-store .container .info .text {
    font-size: 14px;
    padding: 8px;
    letter-spacing: 2px;
}
main #sneacker-store .container .info button {
    margin: 10px 0px;
    padding: 10px 12px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
@media (max-width: 768px) {
    main #sneacker-store .container {
        background-image: none;
        height: 300px;
    }
    main #sneacker-store img {
        display: inline-block;
    }
    main #sneacker-store .container .info {
        width: 80%;
        top: 50%;
        left: 50%;
    }
}

/* Daniel Suggestion */
main #daniel-suggestion .container {
    position: relative;
    width: 100%;
    height: 450px;
    margin: auto;
    background-image: url('assets/daniel_background_desktop.png');
    background-size: cover;
    background-position: center;
}
main #daniel-suggestion .info {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 1vw, 2vw;
    text-align: center;
}
main #daniel-suggestion img {
    display: none;
    width: 100%;
    height: 100%;
}
main #daniel-suggestion .title {
    font-size: 18px;
    font-weight: 500;
    padding: 2px 8px;
}
main #daniel-suggestion .text {
    font-size: 14px;
    padding: 8px;
    letter-spacing: 2px;
}
main #daniel-suggestion button {
    margin: 10px 0px;
    padding: 10px 12px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
main #daniel-suggestion span {
    font-size: 10px;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    main #daniel-suggestion .container {
        background-image: none;
        height: 300px;
    }
    main #daniel-suggestion img {
        display: inline-block;
    }
    main #daniel-suggestion .container .info {
        width: 80%;
        top: 50%;
        left: 50%;
    }
}

/* Apresentation Section */
main #apresentation {
    width: 70%;
    margin: auto;
    padding: 7rem 0px 4rem 0px;
    text-align: center;
}
main #apresentation img {
    padding-bottom: 10px;
}
main #apresentation p {
    padding: 5px 0px;
    letter-spacing: 2px;
}

/* Newsletter Section */
main #newsletter {
    background-color: #000;
    text-align: center;
    padding: 2.5rem;
}
main #newsletter h2 {
    text-transform: uppercase;
    color: #FFF;
    font-weight: 200;
    padding-bottom: 15px;
}
main #newsletter form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
}
main #newsletter form input {
    outline: none;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    background-color: #000;
    text-align: center;
    padding: 20px;
    margin: 1rem 0;
}
main #newsletter form button {
    width: 20%;
    margin: auto;
    padding: 10px 5px;
    text-transform: uppercase;
    color: #000;
    background-color: #FFF;
    border: none;
    border-radius: 2px;
}
@media (max-width: 768px) {
    main #newsletter form {
        width: 100%;
    }
    main #newsletter form button {
        width: 50%;
    }
}

/* Info Section */
#info {
    display: none;
}
#info .container .dropdown-card {
    width: 100%;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #F5F5F5;
}
#info .container .card-header {
    padding: 10px;
    background-color: #F5F5F5;
    color: #000;
    text-align: center;
}
#info .container .dropdown-content {
    display: none; /* Oculto inicialmente */
    padding: 15px;
    border-top: 1px solid #ddd;
}
#info .container .dropdown-content h3 {
    text-align: center;
    margin-bottom: 10px;
}
#info .container .dropdown-content p {
    margin-bottom: 8px;
    color: #555;
    text-align: center;
}

/* Footer Styling */
footer {
    font-size: 12px;
}
footer .container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 45vh;
    padding-top: 3rem;
}
footer ul li {
    list-style: none;
    margin-bottom: 15px;
}
footer ul li a {
    text-decoration: none;
    color: #000;
    align-items: center;
}
footer .contact div {
    padding-bottom: 15px;
}
footer .contact div p {
    margin: 5px 0px;
}
footer .address p {
    padding-bottom: 20px;
}
footer .address ul li i {
    font-size: 20px;
    margin-right: 10px;
}
footer .address ul li a {
    text-decoration: solid underline #000;
}
footer .rights {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .rights img {
    padding-left: 5rem;
}
footer .mobile {
    display: none;
    padding: 20px 0px;
}
@media (max-width: 1000px) {
    #info {
        display: inline;
    }
    footer .container, footer .rights {
        display: none;
    }
    footer .mobile {
        display: flex;
        justify-content: center;
    }
}